<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.15.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Folder" value="D:\ManzanaTest\" />
    <add key="Completed" value="D:\ManzanaTest\Completed\" />
    <add key="Garbadge" value="D:\ManzanaTest\Garbadge\" />
    <add key="Test" value="test" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\ManzanaTest\Logs\Workflow.log" />
      <param name="AppendToFile" value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d  %-5p %m%n" />
      </layout>
    </appender>
    <logger name="LOGGER">
      <appender-ref ref="LogFileAppender" />
    </logger>
  </log4net>
  <system.serviceModel>
    <services>
      <service name="TestWcfService.TestWCFService">
        <endpoint address="http://localhost/TestWcfService/TestWCFService.svc/basic/"
          binding="basicHttpBinding" bindingConfiguration="Basic" name="Basic"
          contract="testWCF.ITestWCFService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="Basic" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/TestWcfService/TestWCFService.svc/basic/"
        binding="basicHttpBinding" contract="testWCF.ITestWCFService"
        name="Basic" />
      <endpoint address="http://localhost/TestWcfService/TestWCFService.svc/basic/"
        binding="basicHttpBinding" bindingConfiguration="Basic" contract="testWCF.ITestWCFService"
        name="Basic1" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>