<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="log4net"
      type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.15.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a"/>
  </configSections>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="Method" value="1"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      
      <endpointBehaviors>
        <behavior name="Basic"/>
        <behavior name="WebJson">
          <webHttp defaultOutgoingResponseFormat="Json" faultExceptionEnabled="true"/>
        </behavior>
        <behavior name="WebXML">
          <webHttp defaultOutgoingResponseFormat="Xml" faultExceptionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
        
      <serviceBehaviors>
        <behavior>
          <!--Чтобы избежать раскрытия метаданных, до развертывания задайте следующим параметрам значение "false". -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Чтобы при сбое получать подробные сведения об исключении для целей отладки, установите для нижеприведенного параметра значение true.  Перед развертыванием установите значение false, чтобы избежать раскрытия информации об исключении -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
      <bindings>
      <basicHttpBinding>
        <binding name="Basic" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="524288000"
        maxBufferSize="65536000" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="65536000" maxStringContentLength="65536000" maxArrayLength="65536000" maxBytesPerRead="65536000"
            maxNameTableCharCount="65536000"/>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebJson" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferSize="65536000"
        maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="65536000" maxStringContentLength="65536000" maxArrayLength="65536000" maxBytesPerRead="65536000"
            maxNameTableCharCount="65536000"/>
        </binding>
        <binding name="WebXML" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferSize="65536000"
        maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="65536000" maxStringContentLength="65536000" maxArrayLength="65536000" maxBytesPerRead="65536000"
            maxNameTableCharCount="65536000"/>
        </binding>
      </webHttpBinding>
    </bindings>
    
    
    <services>
      <service name="TestWcfService.TestWCFService">
        <endpoint address="basic" behaviorConfiguration="Basic" binding="basicHttpBinding" bindingConfiguration="Basic" name="Basic"
          contract="TestWcfService.ITestWCFService"/>
        <!--Для изменения метода выборки данных из БД нужно поменять имя констракта на соответствующее. (ITestWCFService для последних N чеков и ITestWCFServiceF для первых).-->
        <endpoint address="json" behaviorConfiguration="WebJson" binding="webHttpBinding" bindingConfiguration="WebJson" name="Json"
          contract="TestWcfService.ITestWCFServiceF"/>
      </service>
    </services>
    
      
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
        <add binding="netTcpBinding" scheme="netTcp"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Database=myuniquedb;AttachDbFilename=|DataDirectory|chequeStore.mdf;Integrated Security=True;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
    
   <log4net>
      <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
        <param name="File" value="D:\ManzanaTest\Logs\WCF_Workflow.log"/>
        <param name="AppendToFile" value="true"/>
        <maxSizeRollBackups value="10"/>
        <maximumFileSize value="5MB"/>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
        
        <layout type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%d  %-5p %m%n"/>
        </layout>
      </appender>

      <logger name="LOGGER">
        <appender-ref ref="LogFileAppender"/>
      </logger>
    </log4net>
   <system.codedom>
      <compilers>
         <compiler language="c#;cs;csharp" extension=".cs"
            type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
         <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
            type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
      </compilers>
   </system.codedom>

</configuration>
